.vscode
.obsidian

# executaveis compilados
lista1_ex2
lista1_ex4
ex6
ex7
ex8
ex9
ex10
ex11
ex12
ex13
ex14
ex15
ex1
ex2
ex3
ex4
ex5
ex16
ex18
/01_praticas/lista3/ex3.0
/01_praticas/lista3/ex3.1
/01_praticas/rascunho

# lixo do sistema
.DS_Store
*.dSYM
